body {
    background-color: #252525;
    color: white;
}

a {
    color: white;
    text-decoration:none;
}

/**
* ------------------------------------
* ---                              ---
* --------  NAVBAR BOOTSTRAP ---------
* ---                              ---
* ------------------------------------ */

#typed {
    color : white;
    white-space: pre;
    font-weight: bolder;
    font-size: larger;
    width: 290px;
}

.navbar {
	background: #333333 !important;
}


.navbar-toggler {
	background: yellow;
}

/* /!\ il faut enlever "ms-auto" dans la div "navbar-nav" si on utilise ce CSS
/* .navbar-nav { */
/* Needs to specify that the nav flexbox needs to take up all of the available space of the parent element ... */
/* flex: 1; */
/* ... to be able to apply the 'spave-evenly */
/* justify-content: space-evenly; */
/* } */

#idPict {
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
}

nav a {
    background: yellow;
    /* color:black; */
    font-weight: bolder;
    text-align: center;
    min-width:195px;
    /* transition: background 0.5s, color 0.5s, transform 0.5s; */
    margin:0px 6px 6px 0px;
    /* padding:20px 40px; */
    /* box-sizing:border-box; */
    border-radius:5px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
    /* position:relative; */
 }

 nav a:hover {
    background:rgba(0, 0, 0, 0.7);
    color: yellow !important;
    transition-duration: 0.5s;
 }


ul {
	background: transparent !important;
 }

/**
* ------------------------------------
* ---                              ---
* --------- Button Toggle ID  --------
* ---                              ---
* ------------------------------------ */

 #ToggleButton {
     display: none;
 }

/**
* ------------------------------------
* ---                              ---
* -----------  NAV SIDE  -------------
* ---                              ---
* ------------------------------------ */

#navSize {
    width: max-content;
}

#threeDots {
    margin-top: -5px;
}

/* Trait de separation */
hr {
    color: #484848;
    height: 3px !important;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -12px;
    padding-left: -2px;
    
}

#navLogos {
    height: auto;
    width: 48px;
    padding: 0;
    padding-top: 10px;
    background-color: #333333;
}

.logo {
    width: 1.5rem;
}

.logo:hover {
    width: 3rem;
}

#imgPHP {
    width: 1.3rem;
}


button {
    background-color: yellow;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
}

button:hover {
    background: black;
    color: yellow;
    border-style: solid;
    border-color: black;
    transition-duration: 0.5s;
 }

 #burgerMenu:hover {
    background: orange;
 }


/**
* ------------------------------------
* ---                              ---
* -------------  MAIN  ---------------
* ---                              ---
* ------------------------------------ */

#CVenPHP {
    width: max-content;
}

pre {
background: #252525 !important;
white-space: pre-wrap !important;
}


/**
* ------------------------------------
* ---                              ---
* ------------- FOOTER ---------------
* ---                              ---
* ------------------------------------ */


#footer {
    height: 1.5rem;
    background-color: #007acc;
}


/**
* ------------------------------------
* ---                              ---
* ---------- MEDIA QUERIES -----------
* ---                              ---
* ------------------------------------ */

/* Écran dont la résolution en largeur est comprise entre 1 et 350 pixels : */
@media screen and (min-width: 1px) and (max-width: 350px) {
    .navbar-brand {
        margin-left: 0!important;
    }
    #idPict {
        width: 10rem;
        height: 10rem;
    }
    
    #footer {
        font-size: xx-small !important;
        height: 0.8rem !important;
    }
}

/* Écran dont la résolution en largeur est comprise entre 351 et 990 pixels : */
@media screen and (min-width: 351px) and (max-width: 990px) {    
#footer {
    font-size: x-small;
    height: 1rem;
}
}

/* Écran dont la résolution en largeur est comprise entre 1 et 990 pixels : */
@media screen and (min-width: 1px) and (max-width: 990px) {
    #CVenPHP {
        font-size: x-small;
    }
}

/* Écran dont la résolution en largeur est comprise entre 1 et 575 pixels : */
@media screen and (min-width: 1px) and (max-width: 575px) {
    #CVenPHP {
        width: 100%;
    }
    #ToggleButton {
        display: flex;
    }

    #typed {
        font-size: small;
    }

    #idPict {
        /* border-radius: 2.5rem; */
        width: 4rem;
        height: 4rem;
    }
    .navbar-toggler-icon {
        width: 1rem;
        height: 1rem;
    }
}

/* Écran dont la résolution en largeur est comprise entre 576 et 767px pixels : */
@media screen and (min-width: 576px) and (max-width: 767px) {
    #CVenPHP {
        width: calc(100% - 48px);
    }
    #ToggleButton {
        display: flex;
    }
}

/* Écran dont la résolution en largeur est comprise entre 768 et 990 pixels : */
@media screen and (min-width: 768px) and (max-width: 990px) {
    #CVenPHP {
        width: calc(100% - 269px);
    }
    #navSize {
        font-size: x-small;
    }
}

/* Nouvelles règles si la fenêtre fait au plus 991px de large */
@media screen and (min-width: 991px) {
    #CVenPHP {
        width:  calc(100% - 370px);
    }
}