body {
    background-color: #252525;
    color: white;
}

/**
* ------------------------------------
* ---                              ---
* --------  NAVBAR BOOTSTRAP ---------
* ---                              ---
* ------------------------------------ */

#typed {
    color : white;
    white-space: pre;
    font-weight: bolder;
    font-size: larger;
    width: 290px;
}

.navbar {
	background: #333333 !important;
}


.navbar-toggler {
	background: yellow;
}

/* /!\ il faut enlever "ms-auto" dans la div "navbar-nav" si on utilise ce CSS
/* .navbar-nav { */
/* Needs to specify that the nav flexbox needs to take up all of the available space of the parent element ... */
/* flex: 1; */
/* ... to be able to apply the 'spave-evenly */
/* justify-content: space-evenly; */
/* } */

#idPict {
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
}

nav a {
    background: yellow;
    /* color:black; */
    font-weight: bolder;
    text-align: center;
    min-width:195px;
    /* transition: background 0.5s, color 0.5s, transform 0.5s; */
    margin:0px 6px 6px 0px;
    /* padding:20px 40px; */
    /* box-sizing:border-box; */
    border-radius:5px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
    /* position:relative; */
 }

 nav a:hover {
    background:rgba(0, 0, 0, 0.7);
    color: yellow !important;
    transition-duration: 0.5s;
 }


ul {
	background: transparent !important;
 }


/**
* ------------------------------------
* ---                              ---
* -----------  NAV SIDE  -------------
* ---                              ---
* ------------------------------------ */

#navSize {
    width: max-content;
}

#threeDots {
    margin-top: -5px;
}

/* Trait de separation */
hr {
    color: #484848;
    height: 3px !important;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -12px;
    padding-left: -2px;
    
}

#navLogos {
    height: auto;
    width: 48px;
    padding: 0;
    padding-top: 10px;
    background-color: #333333;
}

.logo {
    width: 1.5rem;
}

.logo:hover {
    width: 3rem;
}

#imgPHP {
    width: 1.3rem;
}


button {
    background-color: yellow;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
}

button:hover {
    background: black;
    color: yellow;
    border-style: solid;
    border-color: black;
    transition-duration: 0.5s;
 }


/**
* ------------------------------------
* ---                              ---
* -------------  MAIN  ---------------
* ---                              ---
* ------------------------------------ */

#CVenPHP {
    width: max-content;
}

pre {
background: #252525 !important;
white-space: pre-wrap !important;
}


/**
* ------------------------------------
* ---                              ---
* ------------- FOOTER ---------------
* ---                              ---
* ------------------------------------ */


#footer {
    height: 1.5rem;
    background-color: #007acc;
}


/**
* ------------------------------------
* ---                              ---
* ---------- MEDIA QUERIES -----------
* ---                              ---
* ------------------------------------ */

/* Écran dont la résolution en largeur est comprise entre 1 et 990 pixels : */
@media screen and (min-width: 1px) and (max-width: 990px) {
    #CVenPHP,  #navSize {
        font-size: x-small;
    }
}

/* Écran dont la résolution en largeur est comprise entre 1 et 768 pixels : */
@media screen and (min-width: 1px) and (max-width: 576px) {
    #CVenPHP {
        width: 100%;
    }
}

/* Écran dont la résolution en largeur est comprise entre 575 et 768px pixels : */
@media screen and (min-width: 576px) and (max-width: 767px) {
    #CVenPHP {
        width: calc(100% - 48px);
    }
}

/* Écran dont la résolution en largeur est comprise entre 769 et 992 pixels : */
@media screen and (min-width: 768px) and (max-width: 990px) {
    #CVenPHP {
        width: calc(100% - 269px);
    }
}

/* Nouvelles règles si la fenêtre fait au plus 991px de large */
@media screen and (min-width: 991px) {
    #CVenPHP {
        width:  calc(100% - 370px);
    }
}